<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Ubuntu:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="./css/styles.css">

    <title>Dashboard</title>
    <script>
        function parseJwt(token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));
        
            return JSON.parse(jsonPayload);
        };
    </script>
    <script>
        console.log(window.location.search)
        if ("<%- auth %>" && window.location.search !== "?auth=<%- auth %>") {
            window.location.href = "/Homepage?auth=<%- auth %>"
        } else if (!"<%- auth %>" && window.location.search === "" && window.localStorage.getItem("auth")) {
            window.location.href = "/Homepage?auth=" + window.localStorage.getItem("auth")
        } else if ("<%- auth %>" && window.location.search === "?auth=<%- auth %>") {
            window.localStorage.setItem("auth", "<%- auth %>")
        }
    </script>
</head>

<body style="background-image: url('images/blue-back-2.png'); background-repeat: round; background-size: contain; font-family: 'Montserrat', sans-serif;">

    <section id="title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" style="color: #2D31FA;" href="/Homepage?auth=<%- auth %>"><i class="fa fa-solid fa-syringe"></i> Blood Bank</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #2D31FA;" href="/BloodDonor?auth=<%- auth %>">Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #2D31FA;" href="/BloodRequests?auth=<%- auth %>">Inquiries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #fff;" href="/AddDonor?auth=<%- auth %>">Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style = "color: #fff;" href = "/Requests?auth=<%- auth %>" > Requests</a >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #fff;" href="/login">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section id="detailing">

        <h2 class="section-heading" style="color: #2D31FA; text-align: left;">Welcome <%- user.name %></h2>
        <hr>

        <div class="row" style="font-size: 18px;">

            <div class="col-lg-6 col-md-6" style="padding-bottom: 50px;">
                <div class="card">
                    <div class="card-header">
                        <h3 class="info" style="color: #2D31FA;">Blood Groups</h3>
                    </div>
                    <div class="card-body">
                        <% for(var i=0; i<bloodDetails.length; i++){ %>
                            <h5>
                                <%= bloodDetails[i].bgroup %>
                            </h5>
                        <% } %>
                        <!-- <p>A+ (A Positive)</p>
                        <p>A- (A Negative)</p>
                        <p>B+ (B Positive)</p>
                        <p>B- (B Negative)</p>
                        <p>AB+ (AB Positive)</p> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="info" style="color: #2D31FA;">Volume (in Litres)</h3>
                    </div>
                    <div class="card-body">
                        <% for(var i=0; i<bloodDetails.length; i++){ %>
                            <h5 style="width: 100%;">
                                <%= bloodDetails[i].tpackets %>
                            </h5>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta">

        <div class="directing row">
            <div class="col-lg-3">
                <a href="blood_donate.html">
                    <button type="button" class="btn btn-light btn-lg download-button" style="color: #2D31FA;">Donate</button>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="donor_log.html">
                    <button type="button" class="btn btn-light btn-lg download-button" style="color: #2D31FA;">Logs</button>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="add_donor.html">
                    <button type="button" class="btn btn-light btn-lg download-button" style="color: #fff; background-color: #2D31FA;">Add</button>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="requests.html">
                    <button type="button" class="btn btn-danger btn-lg download-button" style="background-color: #2D31FA;">Requests</button>
                </a>
            </div>
        </div>

    </section>

    <footer id="footer">

        <div>
            <a href="https://www.facebook.com/officialTIET/" style="color: #fff;"><i class="fab fa-facebook-f fa-2x social-icon"></i></a>
            <a href="https://twitter.com/TIETofficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" style="color: #fff;"><i class="fab fa-twitter fa-2x social-icon"></i></a>
            <a href="https://www.thapar.edu/"><i class="fab fa-chrome fa-2x social-icon"></i></a>
            <a href="https://www.youtube.com/channel/UCybEMnvVQqGi80wfAd1F8oA"><i
                    class="fab fa-youtube fa-2x social-icon"></i></a>
            <p>Copyright</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>